* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.date, .password {
    margin-bottom: 5px;

}

.title {
    text-align: center;
    font-size: xx-large;
    color: #ac0c0e;
    font-weight: bold;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 50px;
    justify-content: center;
    width: 90%;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #9e9e9e;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opt {
    display: flex;
    flex-direction: row;
    justify-self: start;
    width: 50%;
}

.opt input {
    margin-right: 5px;
}

.radio {
    margin: 5px 0 6px 0;
}

label[for="male"] {
    font-weight: bold;
    margin-right: 5px;
}

label[for="female"] {
    font-weight: bold;
}

label[for="name"] {
    margin-top: 10px;
}

#name,
#password {
    width: 700px;
    font-weight: 500;
}

#message {
    height: 150px;
}

input {
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #9e9e9e;
    opacity: 0.7;
    border-radius: 5px;
    border: 1px solid rgba(154, 139, 139, 0.5);
}

.btn-submit {
    text-align: center;
    margin: 10px;
}

.btn-submit button {
    border-radius: 5px;
    background-color: #db524c;
    border-color: #db524c;
    font-size: large;
    font-weight: bold;
    width: 180px;
    height: 50px;
    color: white;
    margin: 40px 0 0 10px;
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: #ccc;
}

.fa-solid {
    width: 15px;
    height: 15px;
    margin-top: 12px;
    margin-left: -25px;
    margin-right: 15px;
    z-index: 1;
    cursor: pointer;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    #name,
    #password,
    #confirm,
    #email,
    #message {
        width: 550px;
    }

    .opt input {
        width: 120px;
    }
}

@media screen and (max-width: 767px) {

    #name,
    #password,
    #confirm,
    #email,
    #message {
        width: 80%;
    }

    .opt {
        width: 90%;
        display: inline;
    }

    .label {
        width: 42%;
    }

    .date {
        margin-bottom: 72px;
    }

    .confirm {
        margin-top: -10px;
    }

    .email {
        margin: -5px 0;
    }

    .title {
        font-size: x-large;
    }

    .btn-submit {
        padding-left: 10px;
    }

    .btn-submit button {
        border-radius: 5px;
        background-color: #db524c;
        border-color: #db524c;
        font-size: 16px;
        font-weight: bold;
        width: 100px;
        height: 40px;
        color: white;
        margin: 20px 0 0 0px;
        cursor: pointer;
    }

    .check-box span {
        font-size: small;
    }

}